@model IEnumerable<MongoDBTrainingExercise.Models.ViewModels.UserAccountViewModel>;

@{
    ViewData["Title"] = "Accounts";
    ViewBag.Message = TempData["PromptCreate"];
}

<div class="text-left">
    <h2 class="display-4 my-4">List of Accounts</h2>
</div>

<div class="my-4">
    <a href="@Url.Action("Create", "UserAccount")" class="btn btn-primary" role="button">Create</a>
    <a href="@Url.Action("Restore", "UserAccount")" class="btn btn-warning" role="button">Restore</a>
</div>

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}

<table class="table table-condensed mt-4">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>User Id</th>
            <th>Username</th>
            <th>Is Admin</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
                    <tr>
                        <td>
                            <a href="@Url.Action("Edit", "UserAccount", new { id = item.userId })" class="btn btn-success">Edit</a>
                        </td>
                        <td>
                <a href="@Url.Action("Delete", "UserAccount", new { id = item.userId })" class="btn btn-danger">Delete</a>
                        </td>
                        <td>
                @Html.DisplayFor(m => item.userId)
                        </td>
                        <td>
                @Html.DisplayFor(m => item.username)
                        </td>
                        <td>
                @Html.DisplayFor(m => item.isAdmin)
                        </td>
                    </tr>
    }
    <tr>
</table>
