@model IEnumerable<MongoDBTrainingExercise.Models.ViewModels.TeacherViewModel>;

@{
    ViewData["Title"] = "Restore Teachers";
}

<div class="text-left">
    <h2 class="display-4 my-4">Restore Teacher</h2>
</div>

<div class="my-4">
    <a href="@Url.Action("Index", "Teacher")" class="btn btn-primary" role="button">Go Back</a>
</div>

<table class="table table-condensed mt-4">
    <thead>
        <tr>
            <th></th>
            <th>Teacher Id</th>
            <th>Teacher Name</th>
        </tr>
    </thead>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                        @using (Html.BeginForm("Restore", "Teacher"))
                        {
                            <button class="btn btn-warning" name="id" value="@item.teacherId" type="submit">Restore</button>
                        }
                    </td>
                    <td>
                    @Html.DisplayFor(m => item.teacherId)
                    </td>
                    <td>
                    @Html.DisplayFor(m => item.firstName) @Html.DisplayFor(m => item.lastName)
                    </td>

                </tr>
        }
    <tr>
</table>
